* {
  margin: 0;
}

.title-Header {
  background-color: #1D1D1F;
  color: #FFF;
  font-weight: 600;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
