.header {
  background-color: #1d1d1f;
  color: rgb(233, 227, 227);
  display: flex;
  justify-content: space-between;
}

.title-Header {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 25px;
}

.nameUser {
  font-family: sans-serif;
  font-weight: 600;
  margin: 10px;
  text-align: end;
}

.fone {
  margin: 5px;
  width: 70px;
}
